{% block sidebar %}



<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header"> О проекте </h5>
        <div class="card-body">
            <p class="card-text"> Проект разработан с помощью свободного фреймворка для веб-приложений
                на языке Python, использующего шаблон проектирования MVC.</p>
            <a href="https://docs.djangoproject.com/en/3.2/" class="btn btn-secondary">Узнать больше о Django</a>
        </div>
    </div>
</div>

{% endblock sidebar %}